
#particles-js-1 {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-2 {
    position: absolute;
    top: 110vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-3 {
    position: absolute;
    top: 220vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-4 {
    position: absolute;
    top: 330vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-5 {
    position: absolute;
    top: 440vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-6 {
    position: absolute;
    top: 545vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-7 {
    position: absolute;
    top: 600vh;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 0; */
    pointer-events: none;
}
#particles-js-8 {
    position: absolute;
    top: 700vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#particles-js-9 {
    position: absolute;
    top: 820vh;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 100;
}
.hobbies-section {
    position: relative;
    z-index: 100;
}

/* .card1 {
    position: relative;
    z-index: 100;
} */

